on post-fs
    chown system system /sys/devices/platform/soc/4804000.ufshc/clkgate_enable
    chown system system /sys/devices/platform/soc/4804000.ufshc/devfreq/4804000.ufshc/min_freq

import /vendor/etc/init/hw/init.vendor.st21nfc.rc

service vendor.ident-fps-overlay-sh /vendor/bin/init.oem.fingerprint.overlay.sh
    class core
    user root
    group drmrpc system
    oneshot
    disabled

on post-fs-data
    exec_start vendor.ident-fps-overlay-sh
    chown system system /dev/fpsensor
    chmod 0660 /dev/fpsensor
    # fm conttrol intf
    chown system system /sys/devices/platform/soc/soc:fm_wcn39x0/elna_en
    # touch api
    chown system system /sys/class/touchscreen/primary/gesture
    chmod 0660 /sys/class/touchscreen/primary/gesture

on init
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/ili9882_mmi.ko

on boot
   # vibrator hal need to access this sysfs node for AF noise issue
   chown system system /sys/devices/platform/soc/soc:mot,cam-actuator/onekey_actuator
   chmod 0660 /sys/devices/platform/soc/soc:mot,cam-actuator/onekey_actuator

on boot && property:ro.vendor.mot.gki.path=5.4-gki
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/nfc_i2c.ko

on late-init
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi-smbcharger-iio.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/qpnp_adaptive_charge.ko

on charger
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi-smbcharger-iio.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/qpnp_adaptive_charge.ko

service capsense_reset /system/vendor/bin/capsense_reset
   class core
   user system
   group system input
   disabled

on property:sys.boot_completed=1
    start capsense_reset

on property:dev.bootcomplete=1 && property:ro.vendor.hw.ram=4GB
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128
    write /sys/block/${dev.mnt.dev.root}/queue/read_ahead_kb 128
    write /sys/block/${dev.mnt.dev.system_ext}/queue/read_ahead_kb 128
    write /sys/block/${dev.mnt.dev.product}/queue/read_ahead_kb 128
    write /sys/block/${dev.mnt.dev.vendor}/queue/read_ahead_kb 128
    write /sys/block/${dev.mnt.dev.data}/queue/read_ahead_kb 128
    write /sys/block/${dev.mnt.rootdisk.data}/queue/read_ahead_kb 128
